# Python virtual environment
venv/

# Python cache and compiled files
__pycache__/
*.pyc

# SQLite database files
*.sqlite3
db.sqlite3

# Environment variables
.env

# macOS system files
.DS_Store

# VS Code settings
.vscode/
